@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200;300&family=Rubik:wght@400;800&display=swap');
// @import './custom.scss';

html,
body {
    height: 100%;
    margin: unset;
}

*,
p,
h2,
h1 {
    font-family: 'Rubik', sans-serif;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.profile-container {
    .mdc-list-item__primary-text {
        font-family: 'Rubik', sans-serif;
        color: white !important;
    }

    .mat-mdc-raised-button {
        border-radius: 9px;
    }

    .mat-drawer {
        position: fixed;
        overflow-y: hidden;
    }

    .mdc-list-item__content {
        cursor: pointer;
    }
    .about-caption-section .mat-grid-tile {
        height: calc(355px) !important;
    }
}