<div class="profile-container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="profile-sidenav" mode="over" position="end">
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let menu of menuList"
          (click)="scrollToDiv(menu.id)"
          >{{ menu.name }}</mat-list-item
        >
      </mat-list>
    </mat-drawer>

    <div #home>
      <app-home
        [drawer]="drawer"
        [menuList]="menuList"
        (scrollToSectionEvent)="scrollToDiv($event)"
      ></app-home>
    </div>

    <div #about>
      <app-about></app-about>
    </div>

    <div #services>
      <app-services></app-services>
    </div>

    <div #portfolio>
      <app-portfolio></app-portfolio>
    </div>

    <div #contact>
      <app-contact></app-contact>
    </div>
  </mat-drawer-container>

  <footer class="footer mt-auto bg-light" style="     padding: 0 0 4em 0;">
    <hr class="footer-divider" />
    <div class="container">
      <span
        class="text-muted"
        style="display: flex; justify-content: space-between"
      >
        <div>Thank you for visiting !</div>
        <!-- <div>Copyright 2023 &copy; Malvi Bhatt</div> -->
        <div class="social-links">
          <img
            *ngFor="let account of socialLinks"
            class="social-link"
            [src]="account.icon"
            [alt]="account.name"
            (click)="openSocialLink($event, account.link)"
          />
        </div>
      </span>
    </div>
  </footer>
</div>
