<section class="section portfolio-section" id="portfolio">
  <div class="container">
    <div class="text-center">
      <!-- <p class="section-subtitle">What I Did ?</p> -->
      <h6 class="section-title mb-6">
        Portfolio
        <a
          href="https://manytools.org/hacker-tools/convert-images-to-ascii-art/"
        ></a>
      </h6>
    </div>

    <div class="container" >
      <div class="row g-4">
        <div
          class=" col-sm-6 col-lg-4 col-md-4 card-box"
          *ngFor="let project of projects"
        >
            <div
              class="p-3 portfolio-card-box bg-light"
              style="
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;
              "
            >
              <a class="portfolio-card" (click)="openDialog(project)">
                <img
                  src="assets/imgs/portfolio/{{ project.images[0] }}.{{
                    project.imgExt
                  }}"
                  style="width: calc(100% - 4px); height: calc(100% - 4px)"
                  class="portfolio-card-img"
                  alt="..."
                />
              </a>
              <div class="overlay" (click)="openDialog(project)">
                <div class="overlay-content">
                  <h4 style="font-weight: bold;">{{ project.title }}</h4>
                  <div class="technology-container">
                    <ng-container
                      *ngFor="
                        let technology of project.technologies;
                        let i = index
                      "
                    >
                      <img
                        src="assets/imgs/technology/{{ technology }}.png"
                        style="height: 63px"
                        alt=""
                      />
                      <mat-icon *ngIf="i != project.technologies.length - 1"
                        >add</mat-icon
                      >
                    </ng-container>
                  </div>
                  <!-- <p class="font-weight-normal">Domain: {{ project.domain }}</p> -->
                  <p class="font-weight-normal">Click for more details</p>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
