@import '../../profile.component.scss';

.mat-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.photos-slider {
    display: flex;
    align-items: center;
}


#image-container {
    width: auto;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#image-container img {
    width: 100%;
    height: auto;
}

// .image-container {
//     min-height: 500px;
//     width: 500px;
//     align-items: center;
//     justify-content: center;
//     display: flex;
// }

.mat-icon {
    font-size: 73px;
    height: unset;
    width: unset;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.dialog-title {
    color: $theme-color;
}

.website-link {
    color: $theme-color;
    text-decoration: underline;
    cursor: pointer;
}

.photo-container {
    width: 100%;
    max-width: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.photo-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    width: 100%;
    height: auto;
}

// /* CSS rules for mobile devices */
// @media (max-width: 767px) {
//     #image-container {
//         display: none;
//     }
// }

// /* CSS rules for tablets */
// @media (min-width: 768px) and (max-width: 1023px) {
//     #image-container {
//         display: none;
//     }
// }

// /* CSS rules for laptops */
// @media (min-width: 1024px) and (max-width: 1439px) {
//     .photo-container {
//         display: none;
//     }
// }

// /* CSS rules for desktops */
// @media (min-width: 1440px) {
//     .photo-container {
//         display: none;
//     }
// }